.row
  .col-md-12
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th= t('application.title')
          %th= t('application.domain')
          %th= t('.actions')
      %tbody
        - @applications.each do |application|
          %tr
            %td= link_to application.title, application_path(application)
            %td= application.domain
            %td
              = link_to edit_application_path(application) do
                %i.mdi-editor-mode-edit
              = link_to application_path(application), method: :delete, confirm: t('.sure') do
                %i.mdi-action-delete
