= form_for @application, html: { class: 'form-horizontal' } do |f|
  %fieldset
    .form-group
      = label :domain, t('.domain'), class: 'col-lg-2 control-label'
      .col-lg-10
        = f.text_field :domain, placeholder: t('.domain_placeholder'), class: 'form-control'
    .form-group
      = label :title, t('.title'), class: 'col-lg-2 control-label'
      .col-lg-10
        = f.text_field :title, placeholder: t('.title_placeholder'), class: 'form-control'
    .form-group
      = label :description, t('.description'), class: 'col-lg-2 control-label'
      .col-lg-10
        = f.text_area :description, placeholder: t('.description_placeholder'), class: 'form-control'
    .form-group
      .col-lg-10.col-lg-offset-2
        = f.submit t('.submit'), class: 'btn btn-primary'
