.panel.panel-default
  .panel-heading
    %h2= @event_source.path
  .panel-body
    .row
      .col-md-8
        %svg#distribution-chart.chart
        %svg#quantiles-chart.chart
        %svg#events-chart.chart
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3 Scenarios
          .panel-body
            %table.table.table-hover.table-mc-light-blue
              %thead
                %tr
                  %th #
                  %th Events
                  %th Duration
                  %th Acion
              %tbody
                - @scenarios.each_with_index do |row, index|
                  - id = row.keys.first
                  - values = row.values.first
                  %tr
                    %td= index
                    %td= values[:count]
                    %td= "#{values[:duration].round(2)} ms"
                    %td= link_to 'Show', api_v1_application_source_scenario_path(@application.id, @event_source.id, id, api_token: current_user.api_token)
          .panel-footer

    = link_to t('.back'), application_path(@application.id), class: 'btn btn-primary'

:javascript
  window.onload = function() {
    renderScenariosChart("#{@application.id}", "#{@event_source.id}", "#{@scenarios.first.first.first}", "#{current_user.api_token}");
  };
