.col-md-12
  %h1
    = @application.title
    = "(#{@application.domain})"
  .col-md-8= @application.description
  .col-md-4
    For integration use token
    .badge= @application.token

%script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}

= react_component('ApplicationPage')

%div
  Table


